{% extends "v2/base.jinja2" %}

   {% macro tooltip_text(last_results)-%}
        {% for result in last_results %}
            {% if result == 'W'%} 🟢 {% elif result == 'L'%} 🔴 {% else %} 🟡 {% endif %}
        {% endfor %}

    {%- endmacro %}

{% block content %}
<section class="section">
<table class="table is-striped is-hoverable is-size-7-mobile">
    <thead>
        <tr>
            <th>#</th>
            <th>Equipo</th>
            <th></th>
            <th>Pts</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>Prom</th>
            <th>DG</th>
        </tr>
    </thead>
<tbody>
{% for player in players %}
<tr class = "{% if player.points() == players[0].points() %} is-primary
 {% elif loop.index % 2 == 0  %} pr
 {% else %} ipr

 {% endif %}">
    <td {% if player.points() == players[loop.length-1].points() %} class="is-danger" {% endif %}>{{loop.index}}</td>
    <td align="left"><span class="span has-tooltip-right" ><!--img src="static/ar.png"-->{{player.name}} </span></td>
    <td class="has-background"><span class="is-size-7"> {{tooltip_text(player.last_results())}}</span></td>
    <td>{{player.points()}}</td>
    <td>{{player.total_matches()}}</td>
    <td>{{player._won}}</td>
    <td>{{player._tied}}</td>
    <td>{{player._lost}}</td>
    <td>{{(player.prom())|round(2, 'floor')}}</td>
    <td align="right">{{player.total_goal_diff}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</section>

 {% endblock %}