<html>
<head>
    <link href="{{ url_for('static', filename='estilopc.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='brackets_pc.css') }}" rel="stylesheet">

</head>
<body>
        <div id="tablaseccion">
            <div id="tablapts">
                <div class="titulotabla">Tabla Puntos Poli Cramer</div>
                <table id="posiciones" class="tablesorter1">
                    <thead>
                    <tr style="background: black; color: white">
                        <th>#</th>
                        <th>Equipo</th>
                        <th class="pts">Pts</th>
                        <th class="pj">PJ</th>
                        <th class="pg">PG</th>
                        <th class="pe">PE</th>
                        <th class="pp">PP</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                    <tr class = "{% if player.points() == players[0].points() %} punt
                     {% elif loop.index % 2 == 0  %} pr
                     {% else %} ipr

                     {% endif %}">
                        <td {% if player.points() == players[loop.length-1].points() %} class="ds1" {% endif %}>{{loop.index }}</td>
                        <td align="left"><img src="static/ar.png">{{player.name}}</td>
                        <td>{{player.points()}}</td>
                        <td>{{player.total_matches()}}</td>
                        <td>{{player._won}}</td>
                        <td>{{player._tied}}</td>
                        <td>{{player._lost}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="abajotabla"></div>
            </div>
        </div>
        <div class="abajotabla"></div>

    <br style="clear:both">
</body>
</html>